# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

>=1%
last 2 chrome major versions
last 2 edge major versions
last 1 safari major versions
last 2 firefox major versions
last 2 ChromeAndroid major versions
last 2 iOS major versions
last 2 Samsung major versions
